{% extends "main.html" %}
{% block tabs %}{% endblock %}
{% block content %}
  <section class="md-hero" style="background-color: #4051b5; color: white; position: relative; padding-bottom: 100px;">
    <div class="md-hero__inner md-grid">
      <div class="md-hero__content" style="padding-top: 40px;">
        <h1>Damien Foster | Network Engineer</h1>
        <p>Building secure, automated infrastructure with Cloudflare and Docker.</p>
        <a href="{{ 'Damien Foster Resume.pdf' | url }}" class="md-button md-button--primary" target="_blank">
          Download Resume
        </a>
        <a href="https://github.com/d4mien/portfolio" class="md-button" style="color: white; border-color: white;">
          View Source Code
        </a>
      </div>
      <div class="md-hero__image">
        <img src="{{ 'assets/images/illustration.png' | url }}" alt="" draggable="false" style="width: 100%; max-width: 600px;">
      </div>
    </div>
    
    <div style="position: absolute; bottom: 0; left: 0; width: 100%; line-height: 0;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 400" preserveAspectRatio="none">
        <path d="M0 400V136.1C0 136.1 400 350.5 800 231.5C1200 112.5 1600 310.6 1600 310.6V400H0Z" fill="#1e2124"/>
      </svg>
    </div>
  </section>

  <div class="md-content">
    <div class="md-content__inner md-typeset">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
