name: Barebones Test Deploy

on:
  push:
    branches:
      - master

jobs:
  test-connectivity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Test SSH Connection to Lenovo
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "index.html"
          target: "/var/www/html" 
          strip_components: 0
